.project-container { display : flex; flex-direction: column; width: 100%; justify-content: center; align-items: center; gap: 3.0rem;   }
.project-title { padding-top: 2.0rem; padding-bottom: 3.0rem;}
.project-title h1 { font-size: var(--fz48); }
.project-contents { display: flex; justify-content: center; }
.project-content ul { display: flex; gap: 2.0rem; }
.project-content ul li { padding: 0.5rem 1.0rem; border: 1px solid #ffffff; border-radius: 5px; }