.list-container { display:flex; gap: 2.0rem; max-width: 1440px; padding-bottom: 10.0rem;}
.list-img { display:flex; justify-content: center; align-items: center;}
.list-img img { width: 550px; }
.list-content { display:flex; max-width: 550px; flex-direction: column; gap: 1.0rem; justify-content: center; }
.list-content h3 { color:rgb(244, 97, 97); }
.list-content h2 { font-size: var(--fz18);}
.list-content p { font-size: 1.1rem; }

.list-content-shortcut { display: flex; gap: 1.0rem;}
.list-content-shortcut div img { width: 45px;}

@media (max-width: 992px) {
    .list-container { flex-direction: column; }
    .list-content { align-items: center; }
    .list-content-shortcut { padding-top: 1.0rem; }
  }

@media (max-width: 576px) {
    .list-img img { width: 300px; }
    .list-content { max-width: 350px; }
    .list-content h2 { font-size: var(--fz14); }
    .list-content p { font-size: var(--fz10); }
    .list-content-shortcut div img { width: 30px; }

}  