.list-container { display:flex; gap: 2.0rem; max-width: 1440px; padding-bottom: 6.0rem;}
.list-img { width: 720px; display:flex; justify-content: center; align-items: center;}
.list-img img { width: 550px; }
.list-content { display:flex; max-width: 720px; flex-direction: column; gap: 1.0rem; justify-content: center; }
.list-content h3 { color:rgb(244, 97, 97); }
.list-content h2 { font-size: var(--fz18);}
.list-content p { font-size: 1.2rem; }

.list-content-shortcut { display: flex; gap: 1.0rem;}
.list-content-shortcut div img { width: 45px;}