@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
*{ list-style: none; text-decoration: none; font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; margin:0; padding: 0; background: rgb(24,24,24); color:white;}
/* reset */
:root {
    --fz12: 1.2rem;
    --fz14: 1.4rem;
    --fz16: 1.6rem;
    --fz18: 1.8rem;
    --fz20: 2rem;
    --fz22: 2.2rem;
    --fz24: 2.4rem;
    --fz26: 2.6rem;
    --fz28: 2.8rem;
    --fz30: 3rem;
    --fz32: 3.2rem;
    --fz34: 3.4rem;
    --fz36: 3.6rem;
    --fz38: 3.8rem;
    --fz40: 4rem;
    --fz48: 4.8rem;
    --fz80: 8rem;
    --pointColorLight: #ffccc2;
    --pointColor: #e2725b;
    --pointColorDark: #bf351a;
  }