.navbar { display: flex; justify-content: space-between; height: 8vh; align-items: center; position: fixed; width:100%; z-index: 2; }
.navbar-logo { padding-left: var(--fz12) ;}
.navbar-logo img { width: 50px; }


.footer { text-align: center; padding-bottom: 2.0rem; font-size: 0.7rem; }

